{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <a href="{% url 'formulas:index' %}" class="btn btn-secondary">Back</a>
    <title>Create new formula</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h1>Create new formula</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</body>
</html>
{% endblock %}
