{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <a href="{% url 'formulas:index' %}" class="btn btn-secondary">Back</a>
    <title>Formula Detail</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <h1>{{ formula.part_number }}</h1>
    <p>{{ formula.material }}</p>
    <!-- Add the other fields as needed -->
    <a href="{% url 'formulas:update' formula.id %}" class="btn btn-secondary">Edit</a>
    <a href="{% url 'formulas:delete' formula.id %}" class="btn btn-danger">Delete</a>
</body>
</html>
{% endblock %}
