{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Formulas</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h1>Formulas</h1>

<a href="{% url 'formulas:create' %}" class="btn btn-secondary">Create new formula</a>

{% for formula in formulas %}
    <h2><a href="{% url 'formulas:detail' formula.id %}">{{ formula.part_number }}</a></h2>
    <p>{{ formula.material }}</p>
    <!-- Add the other fields as needed -->
{% empty %}
    <p>No formulas yet.</p>
{% endfor %}

</body>
</html>
{% endblock %}
