{% extends "base.html" %}
{% block content %}
    <h1>Inventory Management</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <a href="{% url 'inventory:products' %}" class="btn btn-primary">View</a>
                    <a href="{% url 'inventory:new_product' %}" class="btn btn-secondary">Add</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Stocks</h5>
                    <a href="{% url 'inventory:stocks' %}" class="btn btn-primary">View</a>
                    <a href="{% url 'inventory:new_stock' %}" class="btn btn-secondary">Add</a>
                </div>
            </div>
        </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Suppliers</h5>
                <a href="{% url 'inventory:suppliers' %}" class="btn btn-primary">View</a>
                <a href="{% url 'inventory:new_supplier' %}" class="btn btn-secondary">Add</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sales Orders</h5>
                <a href="{% url 'inventory:sales_orders' %}" class="btn btn-primary">View</a>
                <a href="{% url 'inventory:new_sales_order' %}" class="btn btn-secondary">Add</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
