{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <a href="{% url 'inventory:purchaseorders' %}" class="btn btn-secondary">Back</a>
    <title>Purchase Order Detail</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <h1>{{ object.product.name }}</h1>
    <p>Supplier: {{ object.supplier.name }}</p>
    <p>Quantity: {{ object.quantity }}</p>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}
