{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <a href="{% url 'inventory:sales_orders' %}" class="btn btn-secondary">Back</a>
    <title>Sales Order Detail</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>                                         
    <h1>{{ object.product.name }}</h1>         
    <p>Quantity: {{ object.quantity }}</p>     
    <a href="{% url 'inventory:edit_sales_order' object.id %}" class="btn btn-secondary">Edit</a>
    <!-- Bootstrap JS -->                      
    <script                                    
src="https://stackpath.bootstrapcdn.com/bootst 
p/4.3.1/js/bootstrap.min.js"></script>         
</body>    
</html>
{% endblock %}
