{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <a href="{% url 'inventory:inventory_home' %}" class="btn btn-secondary">Back</a>
    <title>Supplier List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <a href="{% url 'inventory:inventory_home' %}" class="btn btn-secondary">Back</a>
    <h1>Supplier List</h1>
    <ul>
    {% for supplier in object_list %}
        <li><a href="{% url 'inventory:supplier_detail' supplier.id %}">{{ supplier.name }}: {{ supplier.contact_info }}</a></li>
    {% empty %}
        <li>No suppliers available.</li>
    {% endfor %}
    </ul>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}