{% extends "base.html" %}

{% block title %}
Accounting Home
{% endblock %}

{% block content %}
<h1>Welcome to the Accounting Application</h1>
<p>Here you can manage all your accounting needs.</p>
<a href="{% url 'generate_orders' %}">Generate Orders</a>
{% endblock %}

{% block content %}
<h1>Welcome to the Accounting Application</h1>
<p>Here you can manage all your accounting needs.</p>
<a href="{% url 'generate_orders' %}">Generate Orders</a>
{% endblock %}
<a href="{% url 'generate_orders' %}">Generate Orders</a>
{% endblock %}
