{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Orders
{% endblock %}

{% block content %}
<h1>Orders</h1>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Generate Orders</button>
</form>
{% if orders %}
<table class="table">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Order Date</th>
            <th>Customer Name</th>
            <th>Products Purchased</th>
            <th>Quantity</th>
            <th>Total Purchase Price</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.order_date }}</td>
            <td>{{ order.customer_name }}</td>
            <td>
                {% for product_name, quantity in order.product_quantities.items %}
                    {{ product_name }}: {{ quantity }}<br>
                {% endfor %}
            </td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.total_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
